<div *ngIf="product">
  <div class="row">
    <div class="col-md-5">
      <img src="https://via.placeholder.com/445x268" alt="Card image cap">
    </div>
    <div class="col-md-7">
      <p *ngIf="!editMode">{{product.productDto.description}}</p>
      <textarea *ngIf="editMode" rows="5" [(ngModel)]="product.productDto.description"></textarea>
      <button *ngIf="!editMode" (click)="switchToEditMode(true)"
              class="btn btn-primary">{{'product.editDescription'|translate}}</button>
      <button *ngIf="editMode" (click)="switchToEditMode(false)"
              class="btn btn-danger">{{'common.cancel'|translate}}</button>
      <button *ngIf="editMode" (click)="updateDescription()"
              class="btn btn-success">{{'common.save'|translate}}</button>
    </div>
  </div>
  <div class="row">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let note of notes">
        <span>{{note.noteDto.comment}}</span>
        <button type="button" class="close remove-order-btn" aria-label="Close" (click)="removeNote(note)">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
    </ul>
    <form [formGroup]="form" (ngSubmit)="submit(form.value)">
      <textarea [formControl]="form.controls['comment']"></textarea>
      <button type="submit" class="btn btn-primary">{{'product.addComment'|translate}}</button>
    </form>
  </div>
</div>
