<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Products</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
<!--          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"-->
<!--             aria-haspopup="true" aria-expanded="false">Language</a>-->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
<!--            <li class="dropdown-item" (click)="useLanguage('en')">Eng</li>-->
<!--            <li class="dropdown-item" (click)="useLanguage('ru')">Rus</li>-->
          </ul>
        </li>
      </ul>
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="logout()" translate>header.logout-->
<!--      </button>-->
    </form>
  </div>
</nav>
